/* Blog container */
.blog-container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.548), rgba(255, 255, 255, 0.521)), url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0'); 
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.page-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #0c0c0c;
}
/* Blog card */
.blog-card {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Blog title */
.blog-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Blog content */
.blog-content {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

/* Blog feedback */
.blog-feedback, .blog-experience {
    font-size: 16px;
    margin-top: 10px;
}

/* Blog rating */
.blog-rating {
    font-size: 20px;
    margin-top: 10px;
}

/* Rating stars */
.star {
    font-size: 30px;
    color: gray;
}

.star.selected {
    color: gold;
}


.trash{
    color: red;
    cursor: pointer;
}

.desc{
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Mobile screen layout */
@media (max-width: 600px) {
    .blog-container {
        padding: 15px;
        margin: 20px auto;
    }

    .header-title {
        font-size: 2em;
    }

    .blog-card {
        padding: 15px;
    }

    .blog-title {
        font-size: 20px;
    }

    .blog-content, .blog-feedback, .blog-experience, .blog-rating {
        font-size: 14px;
    }

    .star {
        font-size: 25px;
    }

    .desc {
        font-size: 1.2em;
    }
}